
<div class="container">
  <h2>Add section</h2>

  <a routerLink="/" class="btn btn-dark">Home</a>

  <div class="submit-form">
    <div *ngIf="!submitted">

      <div class="form-group">

        <label for="title">Title</label>
        <input type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="juego.title")]
          name="title"
        >

      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="juego.description"
          name="description"
        >
      </div>

      <button (click)="saveJuego()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Enviaste el form exitosamente !</h4>
      <button class="btn btn-success" (click)="newJuego()">Add</button>
    </div>
  </div>
</div>
